#vip
  != partial :'items/_item_header'
  != partial :'items/_top_tabs'
  != partial :'items/_ship_payment_methods'
  != partial :'items/_questions'
!= partial :'items/_education'
!= partial :'items/_items_seller'

%script{ :type => "text/javascript" }
  arr = ['http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_2330.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=69593925_9582.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_266.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_2330.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_9415.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_266.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_9415.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_2330.jpg&v=M'];
%script{ :type => "text/javascript", :src => "/assets/galeria.js" }
