!!!
%html
  != partial :'common/_header'
  %body
    #layout
      != partial :'common/_ml_menu'
      != yield
      != partial :'common/_footer'
    %center
      %br
      gen:
      = t.app.render_time % ((Time.now - @stamp)*1000)
