!!! Strict
%html
  != partial :'common/_header'
  %body
    %center
      #containall
        != partial :'common/_ml_menu'
        != yield
        != partial :'common/_footer'
        %br
        %br
    %center
      gen:
      = t.app.render_time % ((Time.now - @stamp)*1000)
